body{
    background-color: #e0e8f5;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav #titulo{
    display: flex;
    box-shadow: 0 0px 8px 0 grey;
    background-color: white;
    width: auto;
    padding: 0 10px;
}

nav #titulo p{
    font-family: 'Poppins', sans-serif;
    font-size: 600;
    font-size: 1.4641288433382138vw;
    color: #6d6464;
    text-transform: uppercase;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    margin: 0 20px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#verde{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: #50ae55;
    width: 100%;
    border-radius: 5px;
}

#verde p{
    padding: 15px;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 600;
    font-size: 1.4641288433382138vw;
}

#cinza p{
    padding: 10px;
    margin: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 600;
    font-size: 1.4641288433382138vw;
}

#cinza{
    display: flex;
    margin: 35px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #7e7c9d;
    width: 90%;
    transition: 0.3s;
    border-radius: 5px;
}

#cinza:hover{
    background-color: #73b5a6d1;
    cursor: pointer;
}

#add{
    display: flex;
    align-items: center;
    margin: 10px;
    height: 100%;
    width: 100%;
    box-shadow: 3px 3px 12px -4px grey;
}

#botao{
    display: flex;
    height: 200px;
    width: 200px;
    margin: 30px;
    background-color: white;
    border-radius: 20px;
}

#botao button{
    width: 100%;
    height: 100%;
    border: none;    
    border-radius: 20px;    
    box-shadow: 5px 5px 12px -6px grey;
}

#plus{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plus img{
    width: 150px;
}