body{
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgb(43, 52, 59);
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

main{
    height: 100vh;
    width: 100vw;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

#background{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 500px;
    background-color: #4187f6;
}

#titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 600px;
    margin-left: 100px;
}

#titulo p{
    color: #c5d2e8;
    font-weight: 900;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    text-shadow: -2px 3px 2px #0000004d;
}

nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80px;
    transition: 0.5s;
    position: absolute;
    top: 0;
}

nav #barralat{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #2b343b;
}

nav #barralat2{
    position: absolute;
    right: 0;
    width: 10px;
    height: 100%;
    background-color: #4187f6;
}

nav:hover{
    width: 300px;
}