body{
    background-color: #e0e8f5;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

nav #titulo{
    display: flex;
    box-shadow: 0 2px 5px 0;
    background-color: white;
    width: auto;
    padding: 10px;
}

nav #titulo p{
    font-family: 'Poppins', sans-serif;
    font-size: 600;
    font-size: 1.4641288433382138vw;
    color: #6d6464;
    text-transform: uppercase;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    margin: 0 20px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#verde{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background-color: green;
    width: 100%;
}

#verde p{
    padding: 15px;
    margin: 0;
    color: white;
}

#cinza p{
    padding: 10px;
    margin: 0;
    color: white;
}

#cinza{
    display: flex;
    margin: 35px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 100%;
}

#add{
    display: flex;
    align-items: center;
    margin: 10px;
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 5px 0;
}

#botao{
    display: flex;
    height: 200px;
    width: 200px;
    margin: 30px;
}